<div id="buttondown-form">
<form
    action="https://buttondown.email/api/emails/embed-subscribe/kracekumar"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/kracekumar', 'popupwindow')"
    class="embeddable-buttondown-form"
>
    Get updates on the new posts by subscribing to the newsletter<br/>
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe" />
    <p>
        <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
    </p>
</form>
<div>
